*{
	margin: 0;
	padding: 0;	
}

body{
	background: #000;
	background-repeat: no-repeat;	
	background-size: 100%;
	background-color: #FFFFFF;	
}

header{
	width: 100%;	
}

#fondo{
	background: url("../images/barra.png");
	background-repeat: no-repeat;
	background-position: center center;
	background-attachment: fixed;
	background-size: cover;
	max-height: 100px;
	width: 100%;
}

#menu {
    float: left;
  	width: 170px;
    font-family: Arial, sans-serif;
    font-size: 12px;
    margin-top: 10px;	
}

#datos {
  	float: left;
  	width: 1070px;
  	margin-left: 50px;
    font-family: Arial, sans-serif;
    font-size: 14px;
}

#Hdatos {
  	float: left;
  	width: 570px;
    font-family: Arial, sans-serif;
    font-size: 16px;
    margin-left: -20px;
    height: 200px;
}


#box2 {
		margin-top: -25px;
		margin-left: 90%;
		font-family: Arial, sans-serif;
    	font-size: 9.5px;
    	
	}

#fondo2{
	background: url("../images/logo.png");
	background-repeat: no-repeat;
	width: 200px;
	height: 200px;
	margin-left: 50px;
}

#texto{
	color: white;
	margin-top: -160px;
	margin-left: 250px;
}

#txt{
	font-size: 9.5px;
}

#fondo3{
	background: url("../images/bandera2.png");	
	background-repeat: no-repeat;
	height: 100px;
	margin-left: 87%;
	margin-top: -100px;
}

#footer {
    background: url("../images/bandera.png");
	background-repeat: no-repeat;
    clear: both;
    position: relative;
    z-index: 10;
    height: 3em;
    margin-top: -3em;
}

#fondo4{
	background: url("../images/bandera.png");
	background-repeat: no-repeat;
	height: 100px;
	width: 500px;
	margin-left: 0px;
	margin-top: 606px;
}

#antorcha{
	background: url("../images/antorcha.png") no-repeat;
	height: 592px;
    right: 11%;
    top: 0;
    width: 251px;
	margin-top: 100px;
    position: fixed;
	z-index: 0;
}

#banderaHeader {
		background: url("../images/bandera-head-int.png") no-repeat;
		width: 195px;
		height: 669px;
		position: absolute;
		right: 0;
		bottom: 0;
		z-index: 0;
}

#infoGeneral {
	border: 5px solid #E4E4E4;
	border-radius: 10px;
	margin-top: 10px;
	padding: 8px 15px;
	background: #F0F0F0;
	float: left;
	margin-right: -10px;
}

#infoUsuario, #infoUsuario2 {
		/*width: 340px;*/
		width: 69%;
		border-radius: 5px;
		float: left;
		margin-bottom: 10px;
		margin-left: 0;
		/*margin-right: 25px;*/
}

#infoUsuario2
{
	width: auto;
}
	
#imagenUsuario {
    /* aristo */
    /*background-color: #D8D8D8;/**/

    /* simca2_teal */
    background-color: rgba(22, 119, 160, 0.14);/**/

    /* simca2_navy */
    /*background-color: #4698B6;/**/

    border-radius: 5px 0 0 5px;
    float: left;
    margin-right: 1px;
    padding: 10px 14px 10px;
        }
		
#imagenUsuario img
{
	/*width: 69px !important;*/
	height: 87px !important;
}

